.user-buttons {
  background-color: #6aa84f;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}

.nav-buttons {
  margin: 0.5rem;
  font-size: 1rem;
}

.bar {
  height: 5rem;
  justify-content: center;
}
